.footer{
    background: #08664F;
    padding: 42px 18px 41px 17px;
    display: grid;
    grid-template-columns: 91px 1fr 112px;
    grid-template-rows: 26.6px 16px 150px;
    max-width: 100%;
}

.logo-footer{
    width: 91px;
}

.wrapper-logo{
    grid-column-start: 1;
    grid-row-start: 1;
}

.social-network{
    grid-column-start: 3;
    grid-row-start: 1;
    display: flex;
    justify-content: flex-end;
}


.image-footer{
    width: 24px;
}

.image-footer-a{
    margin-left: 20px;
}

.list-footer{ 
    list-style-type: none;
    grid-row-start: 3;
}

.element-list-footer-a{
    text-decoration: none;

    color: #FFF;
    font-size: 14px;
    font-family:  sans-serif;;

}

.element-list-footer{

    margin-top: 15px;
}

@media screen and (min-width: 1440px){
    .footer{
        display: grid;
        grid-template-columns: 1fr 329px 676px 135px 1fr;
        grid-template-rows: 35px 0 0;
        margin: 0 auto;
        padding: 59px 0 58px 0;
    }
    .wrapper-logo{
        grid-column-start: 2;
        grid-row-start: 1;
        display: flex;
        align-items: center;
    }
    .list-footer{
        grid-column-start: 3;
        grid-row-start: 1;
    }
    .social-network{
        grid-column-start: 4;
        grid-row-start: 1;
    }
    .list-footer{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 35px;
    }
    .element-list-footer{
        margin-right: 30px;
        margin-top: 0;
    }
    .element-list-footer-a{
        font-size: 16px;
        line-height: 24px;
    }
    .image-footer{
        width: 35px;
    }
    .image-footer-a{
        margin-left: 15px;
    }
}
