* {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 65px;
}

.header-logo {
  width: 62px;
}

.label-menu {
  display: flex;
  flex-direction: column;
}

.label-menu-block {
  background-color: #1FA181;
  width: 37px;
  height: 4px;
  margin: 3.5px 0 3.5px 0;
}

.feed-cart {
  background-color: #F8FBFA;
  padding-bottom: 35px;
}

.img-feed {
  width: 100%;
}

.title-feed {
  margin-top: 35px;
  color: #364844;
  font-size: 26px;
  font-family: PT Sans Caption;
  font-weight: 700;
}

.content-feed {
  margin-top: 9px;
  color: #364844;
  font-size: 14px;
  font-family: PT Sans Caption;
  line-height: 150%;
}

.text-cart-block {
  padding-left: 17px;
}

.slider {
  margin-top: 49px;
}

.slider-cart {
  margin: 0 17px 0 18px;
  background-color: #E2F0EF;
  border-radius: 5px 5px 0px 0px;
  padding-bottom: 42px;
}

.img-slider {
  width: 100%;
}

.title-slider {
  margin: 22px 0 0 23px;
  color: var(--unnamed, #364844);
  font-size: 26px;
  font-family: PT Sans Caption;
  font-weight: 700;
  text-transform: uppercase;
}

.content-slider {
  margin: 5px 0 0 23px;
  color: var(--unnamed, #364844);
  font-size: 14px;
  font-family: PT Sans Caption;
  font-weight: 700;
}

.list-slider {
  list-style-type: none;
  margin: 12px 0 0 23px;
}

.list-element {
  display: flex;
  align-items: baseline;
  margin-top: 10px;
  color: #364844;
  font-size: 14px;
  font-family: PT Sans Caption;
  line-height: 145%;
}

.list-bullet {
  width: 7px;
  height: 7px;
  border-radius: 7px;
  background: #1FA181;
  margin-right: 9px;
}

.cost-sale-slider {
  display: flex;
  align-items: center;
  margin: 13px 0 0 23px;
}

.cost-slider {
  margin-right: 10px;
  color: #364844;
  font-size: 18px;
  font-family: PT Sans Caption;
}

.sale-slider {
  color: #868686;
  font-size: 14px;
  font-family: PT Sans Caption;
  text-decoration: line-through;
}

.button-wrapper {
  margin: 27px 0 0 23px;
}

.slider-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 22px 0 35px 0;
}

.arrow-left {
  background-image: url("/public/assets/icons/left-arrow.svg");
  height: 34px;
  width: 34px;
  cursor: pointer;
}

.arrow-left:active {
  background-image: url("/public/assets/icons/left-arrow-hover.svg");
  transform: rotate(180deg);
}

.arrow-right {
  background-image: url("/public/assets/icons/left-arrow.svg");
  height: 34px;
  width: 34px;
  cursor: pointer;
  transform: rotate(180deg);
}

.arrow-right:active {
  background-image: url("/public/assets/icons/left-arrow-hover.svg");
  transform: rotate(360deg);
}

.counter {
  display: flex;
  margin: 0 36px 0 36px;
}

.counter-first {
  color: #364844;
  font-size: 18px;
  font-family: PT Sans Caption;
}

.counter-max {
  color: #C0C0C0;
  font-size: 18px;
  font-family: PT Sans Caption;
}

.button-1 {
  width: 137px;
  height: 43px;
  flex-shrink: 0;
  border: none;
  border-radius: 50px;
  background: #0DBC91;
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-family: PT Sans Caption;
  line-height: 21px;
  margin-right: 6px;
}
.button-2 {
  width: 137px;
  height: 43px;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 50px;
  border: 1px solid #0DBC91;
  color: #0DBC91;
  text-align: center;
  font-size: 14px;
  font-family: PT Sans Caption;
  line-height: 21px;
}
.button-3 {
  width: 196px;
  height: 43px;
  flex-shrink: 0;
  border-radius: 50px;
  background: #F6F6F6;
  color: #1FA181;
  font-size: 14px;
  font-family: PT Sans Caption;
  font-weight: 700;
  line-height: 21px;
}/*# sourceMappingURL=main.css.map */