.button{
    height: 43px;
    border-radius: 50px;
    font-size: 14px;
    font-family:  sans-serif;;
    cursor: pointer;

    &-1{
        width: 137px;
        flex-shrink: 0;
        border: none;
        background: #0DBC91;

        color: #FFF;
        text-align: center;
        line-height: 21px;

        margin-right: 6px;

        &:hover{
            background: #00D29F;
        }
    }
    &-2{
        width: 137px;
        flex-shrink: 0;
        background-color: #ffffff00;
        border: 1px solid #0DBC91;

        color: #0DBC91;
        text-align: center;
        line-height: 21px;

        &:hover{
            background: #0DBC91;
            color: #FFF;
        }
    }
    &-3{
        width: 196px;
        flex-shrink: 0;

        background: #F6F6F6;

        color: #1FA181;
        font-weight: 700;
        line-height: 21px;
        border: none;
    }
}

@media screen and (min-width: 1024px){
    .button{
        width: 196px;
    }
}
