.feed-cart{
    background-color: #F8FBFA;
    padding-bottom: 35px;
}

.img-feed{
    width: 100%;
}

.title-feed{
    margin-top: 35px;

    color: #364844;
    font-size: 26px;
    font-family: PT Sans Caption;
    font-weight: 700;
}

.content-feed{
    margin-top: 9px;

    color: #364844;
    font-size: 14px;
    font-family: PT Sans Caption;
    line-height: 150%;
}

.text-cart-block{
    padding-left: 17px;
}