.slider {
  margin-top: 49px;
}

.slider-cart {
  margin: 0 17px 0 18px;
  background-color: #E2F0EF;
  border-radius: 5px 5px 0px 0px;
  padding-bottom: 42px;
}

.img-slider {
  width: 100%;
  border-radius: 5px 5px 0px 0px;
}

.title-slider {
  margin: 22px 0 0 23px;
  color: var(--unnamed, #364844);
  font-size: 26px;
  font-family: sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.content-slider {
  margin: 5px 0 0 23px;
  color: var(--unnamed, #364844);
  font-size: 14px;
  font-family: sans-serif;
  font-weight: 700;
}

.list-slider {
  list-style-type: none;
  margin: 12px 0 0 23px;
}

.list-element {
  display: flex;
  align-items: baseline;
  margin-top: 10px;
  color: #364844;
  font-size: 14px;
  font-family: sans-serif;
  line-height: 145%;
}

.list-bullet {
  width: 7px;
  height: 7px;
  border-radius: 7px;
  background: #1FA181;
  margin-right: 9px;
}

.cost-sale-slider {
  display: flex;
  align-items: center;
  margin: 13px 0 0 23px;
}

.cost-slider {
  margin-right: 10px;
  color: #364844;
  font-size: 18px;
  font-family: sans-serif;
}

.sale-slider {
  color: #868686;
  font-size: 14px;
  font-family: sans-serif;
  text-decoration: line-through;
}

.button-wrapper {
  margin: 27px 0 0 23px;
  display: flex;
  justify-content: flex-start;
}

.slider-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 22px 0 35px 0;
}

.arrow-left {
  background-image: url("./public/assets/left-arrow.svg");
  height: 34px;
  width: 34px;
  cursor: pointer;
}

.arrow-left:active {
  background-image: url("./public/assets/left-arrow-hover.svg");
  transform: rotate(180deg);
}

.arrow-right {
  background-image: url("./public/assets/left-arrow.svg");
  height: 34px;
  width: 34px;
  cursor: pointer;
  transform: rotate(180deg);
}

.arrow-right:active {
  background-image: url("./public/assets/left-arrow-hover.svg");
  transform: rotate(360deg);
}

.counter {
  display: flex;
  margin: 0 36px 0 36px;
}

.counter-first {
  color: #364844;
  font-size: 18px;
  font-family: sans-serif;
}

.counter-max {
  color: #C0C0C0;
  font-size: 18px;
  font-family: sans-serif;
}

.gradient {
  display: none;
}

@media screen and (min-width: 1440px) {
  .slider {
    max-width: 1140px;
    margin: 0 auto;
  }
  .wrapper-slider-information {
    order: 1;
    width: 448px;
    margin-left: 63px;
    position: relative;
    z-index: 8;
    background-color: #E2F0EF;
    grid-column-start: 1;
  }
  .img-slider {
    order: 2;
  }
  .slider-cart {
    padding: 0px;
    height: 440px;
    width: 1140px;
    margin: 0;
    border-radius: 0px;
    display: grid;
    grid-template-columns: 448px 62px 90px;
  }
  .title-slider {
    font-size: 38px;
    font-weight: 700;
    margin: 53px 0 0 0;
  }
  .content-slider {
    font-size: 22px;
    font-weight: 700;
    margin: 2px 0 0 0;
  }
  .list-slider {
    margin: 16px 0 0 0;
  }
  .list-element {
    font-size: 16px;
  }
  .cost-sale-slider {
    margin: 33px 0 0 0;
  }
  .cost-slider {
    font-size: 20px;
  }
  .sale-slider {
    font-size: 16px;
    line-height: 24px;
  }
  .button-wrapper {
    margin: 26px 0 0 0;
  }
  .img-slider {
    width: 692px;
    border-radius: 0px;
    z-index: 1;
    grid-column-start: 2;
  }
  .gradient {
    order: 2;
    display: block;
    width: 90px;
    background: linear-gradient(to right top, #E2F0EF 50%, rgba(255, 0, 0, 0) 0%);
    grid-column-start: 3;
    z-index: 10;
  }
  .slider-menu {
    margin: 34px 0 92px 0;
  }
  .arrow-left {
    height: 34px;
    width: 34px;
  }
  .arrow-right {
    height: 34px;
    width: 34px;
  }
  .counter-first {
    font-size: 18px;
  }
  .counter-max {
    font-size: 18px;
  }
}/*# sourceMappingURL=cartSliderBlock.css.map */